.selectWithIconContainer {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 120px;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  background-color: #373a4f8a;
  justify-content: space-between;
}
.selectText {
  fontsize: 18px;
  white-space: nowrap;
  font-weight: 600;
}
.selectWithIconSubheader {
  font-size: 13px;
  font-weight: 500;
  color: lightgray;
}
.selectWithIconText {
  font-size: 16px;
  font-weight: 400;
}
.selectDefault {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 4px;
  gap: 120px;
  cursor: pointer;
  max-width: 250px;
  background-color: #373a4f8a;
  justify-content: space-between;
}
