.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
}
.footerDisclaimerText {
  margin-top: 48px;
  text-align: center;
  color: #cbcbcf;
}
.companiesLogo {
  width: 300px;
}
.companiesContainer {
  flex-wrap: wrap;
  width: clamp(800px, 80%, 1280px);
  display: flex;
  gap: 16px;
  align-items: center;
}
.footer {
  height: 100%;
  background-color: #303141;
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  .companiesLogo {
    width: 180px;
  }
  .categories {
    margin-top: 24px;
  }
}
